@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime


<AppBarComponent />
<div class="lz-main-content">

    @Body
</div>

<script>    
    var mudContent = document.querySelector('.mud-toolbar');


    // 주기적으로 크기 체크하는 타이머 설정
    setInterval(() => {
        // 타겟 요소 가져오기
        mudContent = document.querySelector('.mud-toolbar');
        const currentWidth = mudContent.clientWidth;        
        var lzContent = document.querySelector('.lz-main-content');
        lzContent.style.width = currentWidth + 'px';
    }, 10); // 50ms 간격으로 확인
</script>