@page "/loa"

@inject NavigationManager NavigationManager

<MudContainer>
    <h3>Loa</h3>
    <MudButton Variant="Variant.Filled" Color="Color.Surface" OnClick="PartyClick">본1부3 자동 구성</MudButton>
</MudContainer>

@code {
    public string TextValue { get; set; }

    void PartyClick()
    {
        NavigationManager.NavigateTo($"Loa/Party");
    }
}
