@page "/Bot/message"
@inject Class.TwitchBot Bot

<div id="messagesList">
    @foreach (var message in _Messages)
    {
        <div class="alert alert-secondary" role="alert">
            <a href="#" class="alert-link">@message</a>
        </div>
    }
</div>

@code {
    private List<string> _Messages = new List<string>();

    protected override void OnInitialized()
    {
        Bot.OnMessage += OnMessageEvent;
    }

    private void OnMessageEvent(string message)
    {
        _Messages.Add(message);
        if (_Messages.Count > 5)
        {
            _Messages.RemoveAt(0);
        }
        this.InvokeAsync(new Action(() => { StateHasChanged(); }));
    }
}