@inject IJSRuntime JSRuntime

<div id="adfit-container" style="width:100%; text-align:center;">
    <ins class="kakao_ad_area"
    style="display:none;"
    data-ad-unit="@AdUnitID"
    data-ad-width="@AdWidth"
    data-ad-height="@AdHeight"></ins>
</div>

@code {
    [Parameter]
    public string AdUnitID { get; set; } = string.Empty;
    [Parameter]
    public int AdWidth { get; set; } = 320;
    [Parameter]
    public int AdHeight { get; set; } = 250;

    protected async override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            // link:script.js:loadKakaoAdScript
            await JSRuntime.InvokeVoidAsync("loadKakaoAdScript");
        }
        base.OnAfterRender(firstRender);
    }
}