@inject IJSRuntime JSRuntime

<div id="adfit-container" style="width:100%; text-align:center;">
    <ins class="kakao_ad_area"
         style="display:none;"
         data-ad-unit="DAN-Wloi9mdqXyrSslH1"
         data-ad-width="320"
         data-ad-height="250"></ins>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("loadKakaoAdScript");
        }
    }
}