<!-- 에니메이션기능 -->
<!-- link:Animation.razor.cs -->
<!-- link:Animation.razor.css -->
@if (mFirst)
{
    var animationType = Enum.GetName<EAnimations>(AnimationType);
    var fillMode = Enum.GetName<EFillMode>(FillMode);
    if (animationType != null && fillMode != null)
    {
        <div style="@(DoAnimation?$"animation: {animationType.ToLower()} {(float)((float)Duration/1000f)}s;":"") @($"animation-fill-mode: {fillMode.ToLower()};")">
            @ChildContent
        </div>
    }

}
else
{
    <div class="@(IsVisible?"":"stop-animtion")">
        @ChildContent
    </div>
}